.intro{
    display: flex;
    flex-direction: column;
    color: white;
    width: 54%;
    padding-top: 79px;
    padding-left: 148px;
}

@media screen and (max-width: 1024px){
    .intro{
        padding-left: 48px;
        width: 67.3%;
    }
}

@media screen and (max-width: 768px){
    .intro{
        padding-left: 24px;
        width: 93.7%;
        padding-top: 110px;
    }
}

@media screen and (max-width: 425px){
    .intro{
        padding-left: 16px;
        width: 90%;
    }
}