.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 1184px;
  margin: auto;
  color: white;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 667px) {
  .footer {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: repeat (auto, 1fr);
    width: 58.1%;
    margin-left: 16px;
  }
}
